:root {
    --color-bg: #222a30;
    --color-outline: #ffffff;
    --color-outline-fade: #4e5559;
    --width-mouse: 45px;
    --height-mouse: 80px;
    --border-mouse: 4px;
    --pos-mouse: 8px;
    --pos-text: 2px;
    --size-trackball: 10px;
    --pos-trackball: 20px;
    --shrink-trackball: 0.4;
    --anim-duration: 5s;
}


.mouse {
    margin-bottom: 60px;
    opacity: 0%;
    left: 50%;
    position: relative;
    width: var(--width-mouse);
    height: var(--height-mouse);
    border-radius: 100px;
    background: var(--color-outline-fade) linear-gradient(transparent 0%,
            transparent 50%,
            var(--color-outline) 50%,
            var(--color-outline) 100%);
    background-size: 100% 200%;
    background-color: #ffffff;
    animation: slideUpMouse 0.5s ease-out forwards;
    animation-delay: 1s;
}

.mouse::before,
.mouse::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.mouse::before {
    width: calc(var(--width-mouse) - var(--border-mouse));
    height: calc(var(--height-mouse) - var(--border-mouse));
    background-color: var(--color-bg);
    border-radius: 100px;
}

.mouse::after {
    background-color: var(--color-outline);
    width: var(--size-trackball);
    height: var(--size-trackball);
    border-radius: 50%;
    animation: trackBallSlide var(--anim-duration) linear infinite;
}

@keyframes trackBallSlide {
    0% {
        opacity: 1;
        transform: scale(1) translateY(calc(-1 * var(--pos-trackball)));
    }

    6% {
        opacity: 1;
        transform: scale(0.9) translateY(calc(var(--pos-trackball) / 4));
    }

    14% {
        opacity: 0;
        transform: scale(var(--shrink-trackball)) translateY(calc(var(--pos-trackball) * 2));
    }

    15%,
    19% {
        opacity: 0;
        transform: scale(var(--shrink-trackball)) translateY(calc(-1 * var(--pos-trackball)));
    }

    28%,
    29.99% {
        opacity: 1;
        transform: scale(1) translateY(calc(-1 * var(--pos-trackball)));
    }

    30% {
        opacity: 1;
        transform: scale(1) translateY(calc(-1 * var(--pos-trackball)));
    }

    36% {
        opacity: 1;
        transform: scale(0.9) translateY(calc(var(--pos-trackball) / 4));
    }

    44% {
        opacity: 0;
        transform: scale(var(--shrink-trackball)) translateY(calc(var(--pos-trackball) * 2));
    }

    45%,
    49% {
        opacity: 0;
        transform: scale(var(--shrink-trackball)) translateY(calc(-1 * var(--pos-trackball)));
    }

    58%,
    59.99% {
        opacity: 1;
        transform: scale(1) translateY(calc(-1 * var(--pos-trackball)));
    }

    60% {
        opacity: 1;
        transform: scale(1) translateY(calc(-1 * var(--pos-trackball)));
    }

    66% {
        opacity: 1;
        transform: scale(0.9) translateY(calc(var(--pos-trackball) / 4));
    }

    74% {
        opacity: 0;
        transform: scale(var(--shrink-trackball)) translateY(calc(var(--pos-trackball) * 2));
    }

    75%,
    79% {
        opacity: 0;
        transform: scale(var(--shrink-trackball)) translateY(calc(-1 * var(--pos-trackball)));
    }

    88%,
    100% {
        opacity: 1;
        transform: scale(1) translateY(calc(-1 * var(--pos-trackball)));
    }
}

@keyframes slideUpMouse {
    0% {
        opacity: 0%;
        transform: translateY(30px);
        /* Commence en bas */
    }

    100% {
        opacity: 100%;
        transform: translateY(0px);
        /* Finie à la position normale */
    }
}