 .project-title {
    font-size: 50px;
    font-family: "Poppins", serif;
    font-weight: 600;
 }

 .project-subtitle {
    font-size: 18px;
    font-weight: 600;
    color: #9b9b9c;
    font-family: -apple-system, BlinkMacSystemFont, Roboto;
 }


 .image-container {
    padding: 0% 15%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 50px;
    margin-bottom: 20px;
 }
 .image-container img  {
    width: 100%;
    height: auto;
    object-fit: fill;
    max-height: 800px;
 }

 .project-title-container {
    margin-bottom: 60px;
    padding: 0% 15%;
 }
.project-description-container,.project-technologies-link-part{
    width: 50%;
}
.project-link-container{
    display: flex;
    flex-direction: column;
}
 .project-description-container p {
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, Roboto;
    font-size: 16px;
    color: #9b9b9c;
 }
 
 .project-technologies-container h3 {
     font-size: 18px;
     border-top: solid 0.5px #9b9b9c;
     padding-top: 10px;
 }

 .project-technologies-container p {
     margin-top: 10px;
     font-size: 16px;
     text-align: center;
     font-weight: 600;
     font-family: -apple-system, BlinkMacSystemFont, Roboto;
     color: #9b9b9c;
 }

.project-link {
    color: white;
    font-size: 16px;
}
.project-description-part-container {
    display: flex;
    padding: 0% 15%;
    gap: 50px;
}
@media (max-width:800px) {
    .project-description-part-container {
        display: flex;
        flex-direction: column;
    }
    .project-description-container,
    .project-technologies-link-part {
        width: 100%;
    }
    .project-title {
        font-size: 50px;
    }
    .project-subtitle {
        font-size: 18px;
    }

    .project-description-container p {
        font-size: 16px;
    }

    .project-technologies-container h3 {
        font-size: 20px;
    }

    .project-technologies-container p {
        font-size: 16px;
    }

    .project-link {
        font-size: 20px;
    }
}

@media (max-width:600px){
    .project-title{
        font-size: 45px;
    }
    .project-subtitle{
        font-size:14px;
        font-weight: 600;
    }
    .project-description-container p {
        font-size: 17px;
    }

    .project-technologies-container h3{
        font-size: 18px;
    }
    .project-technologies-container p {
        font-size: 16px;
    }
    .project-link{
        font-size: 16px;
    }
    .project-description-part-container {
        padding: 0% 6%;
        gap: 30px;
    }
    .image-container {
        padding: 0% 6%;
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin-top: 50px;
        margin-bottom: 20px;
    }

    .project-title-container {
        margin-bottom: 60px;
        padding: 0% 6%;
    }
}
@media (min-width:1500px) {
    
    .project-description-part-container {
        padding: 0% 20%;
        gap: 30px;
        justify-content: center;
    }

    .image-container {
        padding: 0% 15%;
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin-top: 50px;
        margin-bottom: 20px;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .image-container div{
        width: 80%;
        display: flex;
        justify-content: center;
    }
    .project-description-container,
    .project-technologies-link-part {
        width: 45%;
    }
    .project-title-container {
        margin-bottom: 60px;
        padding: 0% 20%;
    }
}