.contact-container {
    background-color: black;
    margin-top:80px;
    padding: 0px 0px;
    display: flex;
}

.contact{
    width: 50%;
    padding: 40px 80px;
    display: flex;
    flex-direction: column;
}
.contact h2 {
    margin-bottom: 30px;
    font-size: 38px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact p {
    margin-bottom: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact ul {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.avis-container{
    width: 100%;
    display: flex;
    justify-content: end;
    font-family: "Poppins", serif;
}


.avis {
    padding: 30px 30px;
    width: 50%;
    height: 100%;
    background-color: #923fe6;
}
.avis-text{
    margin-top: 35px;
    margin-bottom: 20px;
    font-size: 16px;
}
.avis-info .name{
    font-weight: bold;
    font-size: 18px;
}
.avis-info {
    font-size: 15px;
}
.avis-img-container{
    display: flex;
    justify-content: space-between;
}
.avis-img-container .quotes {
    width: 40px;
    height: 30px;
    opacity: 0.65;
}
.avis-img-container .profil{
    width: 25%;
    border-radius: 50%;
    border: solid 3px white;
    opacity: 1;
}


@media (max-width: 800px){
    .contact-container {
            background-color: black;
            margin-top: 80px;
            padding: 0px 0px;
            display: flex;
            flex-direction: column;
    }
    .contact {
        width: 100%;
        padding: 40px 80px;
    }
    .contact h2 {
        margin-bottom: 25px;
        font-size: 30px;
    }
    .contact p {
        margin-bottom: 70px;
    }
    .contact ul {
        margin-top: 10px;
    }
    .avis {
        width: 100%;
        padding: 10px 30px 20px 30px;
    }
    .avis-img-container{
        align-items: center;
    }
    .avis-img-container .profil {
        width: 15%;
        
    }
    .avis-img-container .quotes {
        width: 30px;
        height: 20px;

       
    }
    .avis-text {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 13px;
    }

    .avis-info .name {
        font-weight: bold;
        font-size: 14px;
    }

    .avis-info {
        font-size: 12px;
    }
}