header{
    width: 100%;
    padding: 0% 3%;
    height: 150px;
    display: flex;
    position: relative;
}

header.fixed {
    height: 60px;
    background: rgba(26, 26, 26, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    animation: slideDown 0.5s ease-out forwards;
}
header.fixed .logo {
    display: none;
}
header.fixed nav ul li span,header.fixed nav ul li p{
    color: #66d9ed;
}
.logo{
    font-family: "Roboto Mono";
    font-weight: 500;
    font-size: 24px;
    color: #66d9ed;
    position: absolute;
    top:40%;
    display: flex;
    align-items: center;
}
.logo span {
    color: white;
}
.logo .logo-purple {
    color:#b989e8;
}
nav{
    visibility: visible !important;
    font-size: 18px;
    font-weight: 500;
    font-family: "Roboto Mono";
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    display: flex;
    width: 700px;
    justify-content: space-around;
    align-items: center;
}
li{
    display: flex;
    flex-direction: column;
    text-align: end;
    
}
li p {
    font-size: 10px;
}


@media (max-width: 1400px) {
    
    ul {
        width: 500px
        
    }
    header.fixed ul {
        width: 700px;
        justify-content: space-around;
    }
    .logo {
        font-weight: 500;
        font-size: 20px;
        color: #66d9ed;
        position: absolute;
        top: 40%;
        display: flex;
        align-items: center;
    }
}

@media (max-width: 1025px) {

    ul {
        width: 100%;
        justify-content: end;
    }
    .logo {
        font-weight: 500;
        font-size: 20px;
        color: #66d9ed;
        position: absolute;
        top: 40%;
        display: flex;
        align-items: center;
    }
}

@keyframes slideDown {
    0% {
        top: -100px;
        /* Ou toute autre valeur pour simuler la sortie du header */
    }

    100% {
        top: 0;
    }
}