#work {
    width: 100%;
    padding-top: 20%
}

#work {
    width: 100%;
    padding: 0% 3% 0% 3%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#work h2 {
    opacity: 0;
    font-size: 75px;
    font-weight: 700;
    font-family: "Poppins", serif;
    margin-bottom: 50px;
}

.card-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;

}


@media (max-width: 800px) {
    #work h2 {
        font-size: 60px;
        font-weight: 700;
    }
}

@media (max-width: 600px) {
    #work h2 {
        text-align: center;
        font-size: 50px;
        font-weight: 700;
    }
}